/Asignment_1/nbproject/private/
/Asignment_1/build/
/Asignment_1/dist/
/Lab_2/nbproject/private/
/Lab_2/build/
/Lab_3/nbproject/private/
/Lab_3/build/
/Lab_4_Skeleton/dist/
/Lab_4/build/
/Lab_4/dist/
/Lab_6/nbproject/private/
/Lab_6/build/
/Lab 6/nbproject/private/
/Lab_6/dist/
/Lab_6_Skeleton/nbproject/private/
/Lab_6_Skeleton/build/
/Lab_6_Skeleton/dist/
